.checkbox {
    appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    border: 2px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
}

.checkbox:hover {
    border-color: #434343;
}

.checkbox:checked {
    border: none;
}

.checkbox:checked::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: none;
    background: #FFC443;
    border-radius: 2px;
}

.checkbox:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;
    width: 11px;
    height: 6px;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    transform: rotate(-45deg);
}

.checkbox:checked:hover {
    opacity: 0.8;
}