.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.inputError {
    border-color: var(--error);
}

.inputError:hover, .inputError:focus {
    border-color: red;
}

.errorMessage {
    padding-top: 8px;
    color: var(--error);
}

.eye {
    color: var(--light);
    position: absolute;
    right: 16px;
    top: 6px;
    cursor: pointer;
}

.eye:hover {
    opacity: 0.8;
}