.App {
  display: flex;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  padding: 12px 24px;
  line-height: 1;
  border: none;
  border-radius: 4px;
  background-color: #673ab7;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.todolistContainer {
  margin: 40px;
}

.todolistHeaderWrapper {
  margin-bottom: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 24px;

}
.todolistHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.todolistTitle {
  margin: 0;
}

.inputDataContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dataInput {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
}

.singleTaskContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #dddddd;
}

.singleTaskContainer:last-child {
  border-bottom: none;
}

.filterButtonsContainer {
  display: flex;
  gap: 8px;
  margin-top: 24px;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
}

.error {
  border: 2px solid #f44336;
  outline: none;
}

.errorMessage {
  color: #f44336;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.activeButton {
  background-color: #ffc443;
}

.deleteButton {
  background-color: transparent;
  color: #333;
  padding: 12px;
}

.deleteButton:hover {
  color: #f44336;
}



.checkbox {
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid #ddd;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox:hover {
  border-color: #434343;
}

.checkbox:checked {
  border: none;
}

.checkbox:checked::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: none;
  background: #FFC443;
  border-radius: 2px;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 11px;
  height: 6px;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  transform: rotate(-45deg);
}

.checkbox:checked:hover {
  opacity: 0.8;
}