.alertsWrapper {
    position: fixed;
    display: flex;
}

.snackbarContainer {
    width: 288px;
    background-color: var(--primary);
    padding: 16px;
    border-radius: 4px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    box-shadow: 0 1px 2px black;
    animation: show 0.5s linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.snackbarContainer span {
    cursor: pointer;
    margin-left: 8px;
}

.error {
    background-color: var(--error);
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}